/audiosplitter.ini
/*.user
/.vs/AudioSplitter/v15/*.suo
/.vs/AudioSplitter/v15/*.db
/Debug/*.exe
/Debug/*.ilk
/Debug/*.log
/Debug/*.obj
/Debug/AudioSplitter.tlog/*.tlog
/Debug
/.vs/AudioSplitter/v15/ipch/AutoPCH/4a9319ccca396a86/*.ipch
*.ipch
*.tlog
*.obj
Release
